.subheader {
  background-color: var(--primary-color);
  padding: 12px 24px;
}

.subheader p {
  max-width: 1200px;
  margin: auto;
  color: white;
}

/* Banner */
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-height: 85vh;
  padding: 12px 24px;
  text-align: center;
}

.banner .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    linear-gradient(to bottom, transparent 60%, white 80%),
    url(../images/banner-img.png) center -50px no-repeat;
  background-size: cover;
  z-index: -1;
}

.banner .title {
  font-size: var(--header-large);
}

.banner .title span {
  color: var(--primary-color);
  text-shadow: 0 0 6px rgba(25, 0, 255, .7);
  animation: blueYellowGlow 2s ease-in-out infinite alternate;
}

@keyframes blueYellowGlow {
  100% {
    text-shadow: 0 0 6px rgba(234, 245, 39, .7);
  }
}

/* history */
.history {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding: 48px 24px;
}

.history .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/history/history-bg.png) center no-repeat;
  background-size: cover;
  z-index: -1;
}

.history .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 15px;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  text-align: center;
}

.history .card .header h2 {
  font-size: var(--header-medium);
  border-left: 3px solid var(--primary-color);
  padding-left: 12px;
  margin-bottom: 12px;
}

.history .card .header h2 span {
  color: var(--primary-color);
}

.history .card .carousel {
  align-self: center;
  position: relative;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.history .card .carousel button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 7;
}

.history .card .carousel button:hover {
  background-color: var(--primary-color-hover);
}

.history .card .carousel button.left-btn {
  visibility: hidden;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.history .card .carousel button.right-btn {
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.history .card .carousel .container {
  display: flex;
  gap: 12px;
  transition: transform 1s ease-in-out;
}

.history .card .carousel img {
  flex-shrink: 0;
  border-radius: 15px;
  width: 100%;
}

/* map */
.map {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 96px 24px 144px;
}

.map>h2 {
  font-size: var(--header-medium);
  text-align: center;
}

.map>h2 span {
  color: var(--primary-color);
}

.map>p {
  text-align: center;
}

.map>.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
}

.map>.container .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 12px;
  background-color: white;
}

.map>.container .card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map>.container .card .header p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  color: var(--primary-color);
}

.map>.container .card .header .buttons button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50vh;
  background-color: transparent;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.map>.container .card .header .buttons button:hover {
  background-color: black;
}

.map>.container .card .header .buttons button:hover svg path {
  fill: white;
}

.map>.container .card .header .buttons .left-btn {
  visibility: hidden;
}

.map>.container .card .title {
  font-size: var(--header-small);
  font-weight: normal;
}

.map>.container .card .carousel {
  display: none;
}

.map>.container .map-container {
  position: relative;
  width: 170%;
}

.map>.container .map-container h3 {
  display: none;
}

.map>.container .map-container .marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: translate(-50%, -80%);
}

.map>.container .map-container .marker:hover svg g path {
  fill: black;
}

.map>.container .map-container .marker svg {
  width: 12px;
  transition: width .4s ease-in-out;
}

.map>.container .map-container .marker p {
  display: none;
  transition: fill .4s ease-in-out;
}

.map>.container .map-container img {
  display: block;
  width: 100%;
}

.active-location {
  z-index: 10 !important;
}

.active-location svg {
  width: 24px !important;
}

.active-location svg g path {
  fill: black !important;
}

.active-location p {
  display: block !important;
}

/* officials */
.officials {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 24px 144px;
}

.officials>h2 {
  font-size: var(--header-medium);
  text-align: center;
}

.officials>h2>span {
  color: var(--primary-color);
}

.officials>p {
  text-align: center;
}

.officials>main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  max-width: 1200px;
}

.officials>main>button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 7;
  transform: translateY(-50%);
}

.officials>main>.left-btn {
  left: -12px;
  visibility: hidden;
}

.officials>main>.right-btn {
  right: -12px;
}

.officials>main>.carousel {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.officials>main>.carousel>.container {
  display: flex;
  gap: 24px;
  transition: transform .8s ease-in-out;
}

.officials>main>.carousel>.container>.official-card {
  position: relative;
  flex-shrink: 0;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.officials>main>.carousel>.container>.official-card>img {
  display: block;
  width: 100%;
}

.officials>main>.carousel>.container>.official-card>.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c93334;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, .5);
}

.officials>main>.carousel>.container>.official-card>.content>.border {
  background: linear-gradient(to right, #f0f0f0, #616161, #f0f0f0, #616161, #f0f0f0);
  height: 8px;
}

.officials>main>.carousel>.container>.official-card>.content>.text {
  padding: 6px 12px;
  color: white;
  text-align: center;
}

.officials>main>.navigate-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.officials>main>.navigate-buttons>button {
  border: none;
  width: 10%;
  height: 6px;
  background-color: #D9D9D9;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.officials>main>.navigate-buttons>button.active {
  background-color: var(--primary-color);
}

@media only screen and (min-width: 700px) {
  .officials>main>.carousel>.container>.official-card {
    width: calc(50% - 12px);
  }
}

/* id-application */
.id-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 0px 24px 144px;
  text-align: center;
}

.id-application>h2 {
  font-size: var(--header-medium);
}

.id-application>h2>span {
  color: var(--primary-color);
}

.id-application>.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
}

.id-application>.container>.step {
  flex: 1;
  display: grid;
  justify-items: center;
  gap: 12px;
}

.id-application>.container>.dots {
  display: none;
}

.id-application>.container>.step>h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50vh;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: var(--header-small);
  transition: background-color .5s ease-in-out, transform .5s ease-in-out;
}

.id-application>.container>.step>h3 {
  font-size: var(--headline-small);
  font-weight: normal;
}

.active-step {
  background-color: rgb(235 0 0) !important;
  transform: scale(1.2, 1.2) !important;
}

/* articles */
.articles {
  width: 100%;
  padding: 0px 24px 144px;
}

.articles>.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.articles>.container>.header {
  text-align: center;
}

.articles>.container>.header>h2 {
  font-size: var(--header-medium);
}

.articles>.container>.header>h2>span {
  color: var(--primary-color);
}

.articles>.container>.article {
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.articles>.container>.article>img {
  display: block;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.articles>.container>.article>div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.articles>.container>.article>div>a {
  align-self: center;
}

/* sectors */
.sectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0px 24px 144px;
  text-align: center;
}

.sectors h2 {
  font-size: var(--header-medium);
}

.sectors h2 span {
  color: var(--primary-color);
}

.sectors .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.sectors .container .card {
  position: relative;
  flex: 1;
  border-radius: 15px;
  min-width: 200px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  transition: transform .2s ease-in-out;
}

.sectors .container .card:hover {
  transform: scale(1.05, 1.05);
}

.sectors .container .card:hover .red-blend {
  opacity: 0;
}

.sectors .container .health .bg-image {
  background: url(../images/sectors/health-sector-img.jpg) -70px no-repeat;
}

.sectors .container .security .bg-image {
  background: url(../images/sectors/security-sector-img.jpg) center no-repeat;
}

.sectors .container .business .bg-image {
  background: url(../images/sectors/business-sector-img.jpg) center no-repeat;
}

.sectors .container .sk .bg-image {
  background: url(../images/sectors/sk-sector-img.jpg) center no-repeat;
}

.sectors .container .environment .bg-image {
  background: url(../images/sectors/environment-sector-img.jpg) center no-repeat;
}

.sectors .container .card .bg-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  z-index: -1;
}

.sectors .container .card .red-blend {
  position: absolute;
  inset: 0;
  background-color: rgba(235, 0, 0, 1);
  mix-blend-mode: color;
  opacity: 0.8;
  transition: opacity .2s ease-in-out;
}

.sectors .container .card .content {
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  padding: 0px 24px 12px;
  text-align: center;
}

.sectors .container .card .content h3 {
  font-size: var(--headline-small);
  font-weight: normal;
}

/* ================================================================== */
/* Tablet breakpoint */
@media only screen and (min-width: 920px) {
  * {
    --header-large: 60px;
    --header-medium: 55px;
    --header-small: 48px;
  }

  .subheader {
    padding: 12px 48px;
  }

  /* banner */
  .banner {
    padding: 12px 48px;
  }

  /* history */
  .history {
    padding: 48px 48px;
  }

  .history .card {
    flex-direction: row;
    text-align: left;
  }

  .history .card .header {
    max-width: 50%;
  }

  /* map */
  .map {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 96px 48px 144px;
  }

  .map>.container {
    position: relative;
  }

  .map>.container .card {
    position: absolute;
    right: 12px;
    top: 12px;
    border-radius: 15px;
    width: 40%;
    z-index: 7;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  }

  .map>.container .card .carousel {
    display: block;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
  }

  .map>.container .card .carousel .container {
    display: flex;
    gap: 12px;
    transition: transform 1s ease-in-out;
  }

  .map>.container .card .carousel .container img {
    flex-shrink: 0;
    display: block;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
  }

  .map>.container .map-container {
    width: 100%;
  }

  .map>.container .map-container h3 {
    display: block;
    position: absolute;
    top: 37.26%;
    left: 32.67%;
    color: var(--primary-color);
    font-size: var(--headline-small);
    transform: translate(-50%, -50%);
  }

  .map>.container .map-container .marker {
    transform: translate(-50%, -50%);
  }

  .map>.container .map-container .marker p {
    display: block;
    font-size: 10px;
  }

  /* officials */
  .officials {
    padding: 0px 48px 144px;
  }

  .officials>main>.carousel>.container>.official-card {
    width: calc(33.3% - 16px);
  }

  .officials>main>.left-btn {
    left: -25px;
  }

  .officials>main>.right-btn {
    right: -25px;
  }

  /* id-application */
  .id-application {
    padding: 0 48px 144px;
  }

  .id-application>.container {
    position: relative;
    flex-direction: row;
    gap: 72px;
  }

  .id-application>.container>.step {
    grid-template-rows: auto auto 1fr;
    justify-content: center;
    gap: 24px;
  }

  .id-application>.container>.step>h2 {
    width: 65px;
    height: 65px;
  }

  .id-application>.container>.dots {
    position: absolute;
    top: 32px;
    display: block;
    transform: translateX(-50%);
  }

  .id-application>.container>.dots-1,
  .id-application>.container>.dots-overlay-1 {
    left: 33.3%;
  }

  .id-application>.container>.dots-2,
  .id-application>.container>.dots-overlay-2 {
    left: 66.6%;
  }

  .id-application>.container>.dots-overlay-1 {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 4s linear;
  }

  .id-application>.container>.dots-overlay-2 {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 4s linear;
  }

  @keyframes wipeToRight {
    0% {
      clip-path: inset(0 100% 0 0);
    }

    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes unwipeToRight {
    0% {
      clip-path: inset(0 0 0 0);
    }

    100% {
      clip-path: inset(0 0 0 100%);
    }
  }

  /* articles */
  .articles {
    padding: 0px 48px 144px;
  }

  .articles>.container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .articles>.container>.header {
    text-align: center;
  }

  .articles>.container>.header {
    text-align: left;
  }

  .articles>.container>.article-1 {
    grid-column: 2 / span 2;
  }

  .articles>.container>.article>div>a {
    align-self: flex-end;
  }


  /* sectors */
  .sectors {
    padding: 0px 48px 144px;
  }

  .sectors .container .card .content {
    text-align: left;
  }
}

/* ================================================================== */
/* Desktop breakpoint */
@media only screen and (min-width: 1400px) {
  .officials>main>.carousel>.container>.official-card {
    width: calc(25% - 18px);
  }

  .officials>main>.left-btn {
    left: -65px;
  }

  .officials>main>.right-btn {
    right: -65px;
  }
}